<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Cinémas</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cinema.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Authentification Cinéma</h1>
        <!-- Formulaire d'authentification pour un cinéma -->
        <form action="/movies/manage" method="post">
            <input type="number" name="cinema_id_auth" placeholder="ID du cinéma" required>
            <input type="password" name="Cle" placeholder="Mot de passe" required>
            <button type="submit">Authentifier</button>
        </form>

        <h2 class="title">Créer une Session Cinéma</h2>
        <!-- Formulaire de création de session pour un cinéma -->
        <form action="/movies/manage" method="post">
            <input type="number" name="cinema_id" placeholder="ID du cinéma pour nouvelle session" required>
            <input type="password" name="Cle" placeholder="Mot de passe pour nouvelle session" required>
            <button type="submit" name="create_session">Créer Session</button>
        </form>
    </div>
</body>
</html>