<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
    <!-- Emplacement pour les messages flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <img class="logo-img" onclick="window.location.href='/'" src="../static/img/logo.png"></img>
    <div class="container">
        <p>Renseignez vos informations de connexion</p>
        <form action="/cinemas/login" method="post">
            
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Connexion</button>
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
