body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.title {
    color: #333333;
    text-align: center;
}

.filters {
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-city,
.filter-film {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.filter-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e9e9e9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #d9d9d9;
}

.cinema-list h2 {
    color: #333333;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 5px;
}

.cinema-list ul {
    list-style: none;
    padding: 0;
}

.cinema-list li {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* Ajoutez plus de styles personnalisés ici si nécessaire */
