
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

/* Styles du formulaire */
form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003d82;
}

p {
    color: rgb(0, 110, 255);
    text-align: center;
}
img{

    width: 5%;
    height: 5%;
}
.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffcccb; 
    text-align: center;
}