body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.title, h1, h2, h3 {
    color: #333;
    text-align: center;
}

.filters, .flash-message, .cinema-list, form {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffcccb; /* Rouge pâle pour les messages d'erreur, par exemple */
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: block;
    width: 100%;
}

button {
    background-color: #0056b3; /* Bleu par défaut pour les boutons */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #003d82; /* Bleu foncé au survol */
}

.movie-list {
    list-style-type: none;
    padding-left: 0;
}

.movie-item {
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ffffff;
}

th {
    background-color: rgb(250,204,4);
}

/* Styles supplémentaires pour les messages flash */
.flash-success {
    background-color: #d4edda; /* Vert pâle pour les messages de succès */
}

.flash-error {
    background-color: #f8d7da; /* Rouge pâle pour les messages d'erreur */
}

/* Styles supplémentaires pour les formulaires de séances */
.seance-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.seance-form input,
.seance-form button {
    flex-basis: calc(50% - 20px); /* Répartition équitable avec un peu d'espace entre */
}

.movie-list {
    list-style-type: none;
    padding: 0;
}

.movie-item {
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

.movie-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.form-delete-movie {
    margin-top: 10px;
}

.button-delete, .btn-seance-delete {
    background-color: #d9534f; /* Rouge pour le bouton supprimer */
    color: white;
    cursor: pointer;
}

.button-delete:hover, .btn-seance-delete:hover {
    background-color: #c9302c; /* Rouge foncé au survol */
}

.no-movies {
    text-align: center;
}

.seance-table{
    background-color: rgb(248, 231, 156);
}

.btn-seance-delete{
    margin-left: 0px;
    margin-right: 0;
    width: 30%;
    float: left;

}

.button-program{
    background-color: rgb(98, 98, 98)
}
.button-program:hover{
    background-color: rgb(46, 46, 46)
}